@import url("https://fonts.googleapis.com/css?family=Garamond");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

* {
  font-family:Garamond;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  outline: none;
  border: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


/* + + + TEMEL CSS KOD BAŞLANGICI */
:root {}

header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-direction:row;
  padding:10px 5px;
  font-size:20px;
  background:#212121;
  color:white;
}
header h1{
  font-size:16px;
}
/* TEMEL CSS KOD BİTİŞİ - - - */

/* + + + TELEFON */
@media screen and (max-width:767px) {}
/* TELEFON - - - */